:root {
    --grid-cols: 1; 
    --grid-row: 1; 
}
.body, #display {
    display: flex; 
    justify-content: center;
    align-items: center;
}

#num-container, #op-container {
    display: grid; 
    direction: rtl; 

    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.num-items, .operators {
    width: 100px; 
    height: 100px;
    
    border-width: 0px; 
    margin: 5px; 
    padding: 0px;
}

#display {
    margin: auto; 

    height: 100px; 
    width: 430px;

    border: 1px solid black;
}

.num-items {
    background-color: gray;
}